.header {
    background-color: #212429;
    color: white;
    padding: 1rem;
    height: fit-content;
    opacity: 100%;
    border-bottom: 7px solid #212429;
    text-align: left;
    top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    align-items: center;
    z-index: 1000;
}

::-webkit-scrollbar {
    display: none;
}

.headerLink:hover {
    text-decoration: none;
    cursor: pointer;
}

.header .headerH1 {
    margin: 0;
    color: white;
    padding-left: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.unactiveLink{
    color: #939D9E !important;
}

.navBar .navLinks {
    padding-top: 8px;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
}

.navText {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.copyRight {
    color: #422632;
    width: 100%;
    background-color: white;
    line-height: 2.5;
    text-align: center;
}

#clubLogoAbout {
    height: 200px;
    width: 200px;
}

.sectionsContent {
    margin: 20px;
}

.sections {
    height: fit-content;
}

#aboutHeading {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 50px;
}

.h1DivSec1 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: fit-content;
    /* Full viewport height for demonstration */
    height: 200px;
}

.poetryWindow {
    width: 250px;
    height: 300px;
    border: none;
    padding: 10px;
    overflow-y: auto;
    margin: 20px auto;
    background-image: radial-gradient(circle at center, black 0%, #212429 25%, #212429 75%, black 100%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-width: 7px;
    border-color: black;
    border-style: solid;
}

.poetrySnippet {
    font-style: italic;
    line-height: 1.5;
    color: #D3D3D3;
    /* Text color */
}

.aim {
    font-size: 3rem;
    font-weight: 700;
}


.footer{
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0;
}

.swal2-show{
    width: 650px;
}

.blogPost, .card{
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;

}