.header {
    background-color: #212429;
    color: white;
    padding: 1rem;
    height: 92.4px;
    opacity: 100%;
    border-bottom: 7px solid #1e1a19;
    text-align: left;
    align-items: center;
}

.headerLink:hover{
    text-decoration: none;
    cursor: pointer;   
}

.header .headerH1 {
    margin: 0;
    color: white;
    padding-left: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}


.navBar .navLinks{
    padding-top: 8px;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
}

.navText{
    font-size: 1rem;
}

.copyRight{
    color: #422632;
    width:100%;
    background-color: #363E87;
    line-height: 2.5;
    text-align: center;
}

#clubLogoAbout{
    height: 200px;
    width: 200px;
}

.sectionsContent{
    margin: 20px;
}

.sections{
    margin: 40px;
    height: fit-content;
}

#aboutHeading{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.h1DivSec1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: fit-content; /* Full viewport height for demonstration */
    height: 200px;
}

.poetryWindow {
    width: 250px;
    height: 300px;
    border: none;
    padding: 10px;
    overflow-y: auto;
    margin: 20px auto;
    background-color: #363E87; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 30px;
    border-color:#422632;
    border-width:7px;
    border-style:solid;
}

.poetrySnippet {
    font-style: italic;
    line-height: 1.5;
    color: #D3D3D3; /* Text color */
}

.aim{
    font-size: 3rem;
    font-weight: 700;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.slide p {
    padding: 10px;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
}
