@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

.header {
    background-color: #363E87;
    color: white;
    padding: 1rem;
    height: max-content;
    padding: 10px;
    padding-bottom: 0px;
    padding-top:0px;
    text-align: center;
    font-family: "Caveat", cursive;
    justify-content: center;
    width: 100%;
    position: fixed;
}

.headerLink:hover{
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;   
}

.header .headerH1 {
    margin: 0;
    padding-left: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.headerH1{
    font-size: 3.4rem !important;
}

.navBar .navLinks{
    padding-top: 20px;
    justify-content: space-around;
    font-family: "Grandstander", cursive;
    font-size: 2rem;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #363E87;
}

.divisionDiv{
    height: 7px;
    color: #422632;
    background-color: #422632;
}

.copyRight{
    position: fixed;
    color: #422632;
    bottom: 0;
    width:100%;
    background-color: #363E87;
    line-height: 2.5;
    text-align: center;
}

#clubLogoAbout{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.sectionsContent{
    margin: 20px;
}

.sections{
    margin: 50px;
    border: 5px solid #422632;
    height: fit-content;
}

#aboutHeading{
    text-align: center;
    font-family: "Playwrite AU QLD", cursive;
    font-size: 4rem;
}

.h1DivSec1{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: fit-content; /* Full viewport height for demonstration */
    height: 200px;
}

.poetryWindow {
    width: 250px;
    height: 300px;
    border: none;
    padding: 10px;
    overflow-y: auto;
    margin: 20px auto;
    background-color: #363E87; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 30px;
    border-color:#422632;
    border-width:7px;
    border-style:solid;
}

.poetrySnippet {
    font-style: italic;
    line-height: 1.5;
    color: #D3D3D3; /* Text color */
}
